{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<title>{% block title %} Documents {% endblock %}</title>
	<script src="{% static 'js/jquery.js' %}" charset="utf-8"></script>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}" charset="utf-8"></script>
	<script src="{% static 'bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}" charset="utf-8"></script>
	<link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.css' %}">

</head>
<body>
{% block img %}

{% endblock %}
		
{% load admin_urls %}		

<div class="container">

	{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								  <span class="sr-only">Toggle navigation</span>
								  <span class="icon-bar"></span>
								  <span class="icon-bar"></span>
								  <span class="icon-bar"></span>
								</button>
		                    		<a class="navbar-brand" href="">Inicio</a>
		                  		</div>
		                  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                    	<ul class="nav navbar-nav">
		                      		<li class="dropdown">
		                        		<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Producto <span class="caret"></span></a>
				                        <ul class="dropdown-menu" role="menu">
				                        	<li>
											
												<a href="{% url 'producto_nuevo' %}">Nuevo producto</a>
												
				                        		<a href="{% url 'productos_lista' %}">Lista de productos</a>

				                        	</li>
				                        </ul>
		                      		</li>
			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ventas<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
				                            <li>
									
												<a href="{% url 'ventas_nuevo' %}">Nueva venta</a>
											
				                        	</li>
				                        	<li>
				                        		<a href="{% url 'ventas_lista' %}">Lista de ventas</a>
				                        	</li>
				                      
			                        	</ul>
									</li>
									
		                    </div>
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>    

	{% endblock %}


{% block header %} 

{% endblock %}

{% block content %} 

{% endblock %}

{% block footer %} 

{% endblock %}

</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>


{% block extrajs %} 

{% endblock %}


</body>
</html>