{% extends 'base/base.html' %}
{% block title %} Lista de productos {% endblock %}
{% block content %}
{% load admin_urls %}


<div class="table-responsive col-md-12">
<table class="table" id="tabla">

		
	<thead>
		<tr class="danger">
            <td>Clave_producto</td>
            <td>Id</td>
			<td>Cantidad</td>
			<td>Nom_producto</td>
			<td>Descripcion</td>
			<td>Precio</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for productos in object_list %}
		<tr>
			<td>{{ productos.clave_producto  }}</td>
			<td>{{ productos.id  }}</td>
			<td>{{ productos.cantidad  }}</td>
			<td>{{ productos.nom_producto}}</td>
			<td>{{ productos.descripcion }}</td>
			<td>${{ productos.precio }}</td>
			<td>
            <a class="btn btn-danger" href="{% url 'productos_eliminar' productos.id %}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>

		</tr>
		{% endfor %}

		{% else %}
		<h2>No Hay registros relacionados con su busqueda</h2>

		{% endif %}
	</tbody>
</table>
</div>
<ul class="pager">

	{% if page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
	</li>
	{% endif %}
	<li>
	{% if page_obj.has_next %}		
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
	</li>		
	{% endif %}


</ul>


{% endblock %}