{% extends 'base/base.html' %}
{% block title %} Lista de productos {% endblock %}
{% block content %}
{% load admin_urls %}
<form method="get" action="{% url 'productos_listar_buscar' %}" id="myform" >
	<div class="form-row">
			<div class="col-md-5 col-md-offset-0">
	<div class="form-group">
			
	    <div class="input-group">    
				<div class="input-group-addon">				
							<span class="glyphicon glyphicon-search"></span>	
				</div>
				<input type="text" name="filter" id="filter" class="form-control" placeholder="Buscar"/> 
				
		</div>
				
	</div>
	</div>
	</div>
	<div class="col-md-3 col-md-offset-0">
		<input type="submit" name="submit" value="Buscar" class="form-control"/>
	</div>
</form>

<div class="table-responsive col-md-12">
<table class="table" id="tabla">

		
	<thead>
		<tr class="danger">
            <td>Clave_producto</td>
            <td>Id</td>
			<td>Cantidad</td>
			<td>Nombre producto</td>
			<td>Descripcion</td>
			<td>Precio</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for productos in object_list %}
		<tr>
			<td>{{ productos.clave_producto  }}</td>
			<td>{{ productos.id  }}</td>
			<td>{{ productos.cantidad  }}</td>
			<td>{{ productos.nom_producto}}</td>
			<td>{{ productos.descripcion }}</td>
			<td>${{ productos.precio }}</td>
			<td>
			<a class="btn btn-danger" href="{% url 'productos_editar' productos.id %}">Editar</a>
			<a class="btn btn-danger" href="{% url 'productos_eliminar' productos.id %}"><span class="glyphicon glyphicon-trash"></span></a>
			
			</td>

		</tr>
		{% endfor %}

		{% else %}
		<h2>No Hay productos</h2>

		{% endif %}
	</tbody>
</table>
</div>
<ul class="pager">

	{% if page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
	</li>
	{% endif %}
	<li>
	{% if page_obj.has_next %}		
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
	</li>		
	{% endif %}


</ul>


{% endblock %}